body {
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #edf2f4;
  font-family: "Mooli", sans-serif;
}

header {
  text-align: center;
}

h1 {
  background-color: #d84727;
  color: white;
  width: 45%;
  margin: 0.5rem auto;
  padding: 1rem;
  border-radius: 9px;
  border: 2px solid #b73215;
}

.container1,
.container2 {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: space-around;
  margin: 2rem 0rem;
}

.info_section {
  max-width: 28%;
}
